<!DOCTYPE html>
<html lang="en">

<head>
    <!-- -->
    <base href="/">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href='https://fonts.googleapis.com/css?family=Passion+One' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <!-- -->

    <!-- -->
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.10/angular.min.js"></script>
    <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-2.5.0.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/danialfarid-angular-file-upload/12.2.13/ng-file-upload.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/danialfarid-angular-file-upload/12.2.13/ng-file-upload-shim.min.js"></script>
    <!-- -->

    <!-- -->
    <script src="/javascripts/admin.js"></script>
    <link rel='stylesheet' href='/stylesheets/admin-style.css' />
    <!-- -->
</head>

<body ng-app="KD">
    <div id="top-nav" class="navbar navbar-inverse navbar-static-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
                <a class="navbar-brand" href="#">Dashboard</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a class="dropdown-toggle" role="button" data-toggle="dropdown" href="#"><i class="glyphicon glyphicon-user"></i> Admin <span class="caret"></span></a>
                        <ul id="g-account-menu" class="dropdown-menu" role="menu">
                            <li><a href="#">My Profile</a></li>
                            <li ng-controller="main"><a href="" ng-click="logout()">Logout</a></li>
                        </ul>
                    </li>

                </ul>
            </div>
        </div>
        <!-- /container -->
    </div>
    <!-- /Header -->

    <!-- Main -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3">
                <!-- Left column -->
                <a href="#"><strong><i class="glyphicon glyphicon-wrench"></i> Tools</strong></a>

                <hr>

                <ul class="nav nav-stacked">
                    <li class="nav-header"> <a href="" data-toggle="collapse" data-target="#userMenu">Settings <i class="glyphicon glyphicon-chevron-down"></i></a>
                        <ul class="nav nav-stacked collapse in" id="userMenu">
                            <li class="active"> <a href=""><i class="glyphicon glyphicon-home"></i> Home</a></li>
                            <li><a href=""><i class="glyphicon glyphicon-envelope"></i> Messages</a></li>
                            <li><a href=""><i class="glyphicon glyphicon-cog"></i> Options</a></li>
                            <li><a href=""><i class="glyphicon glyphicon-comment"></i> Shoutbox</a></li>
                            <li><a href=""><i class="glyphicon glyphicon-user"></i> Staff List</a></li>
                            <li><a href=""><i class="glyphicon glyphicon-flag"></i> Transactions</a></li>
                            <li><a href=""><i class="glyphicon glyphicon-exclamation-sign"></i> Rules</a></li>
                        </ul>
                    </li>

                    <li class="nav-header">
                        <a href="" data-toggle="collapse" data-target="#menu3"> Social Media <i class="glyphicon glyphicon-chevron-right"></i></a>
                        <ul class="nav nav-stacked collapse" id="menu3">
                            <li><a href=""><i class="glyphicon glyphicon-circle"></i> Facebook</a></li>
                            <li><a href=""><i class="glyphicon glyphicon-circle"></i> Twitter</a></li>
                        </ul>
                    </li>
                </ul>

            </div>

            <div class="col-sm-9">

                <ul class="list-inline pull-right">
                    <li><a href=""><i class="glyphicon glyphicon-cog"></i></a></li>
                    <li><a href=""><i class="glyphicon glyphicon-user"></i></a></li>
                </ul>
                <a href=""><strong><i class="glyphicon glyphicon-dashboard"></i> My Dashboard</strong></a>
                <hr>

                <div class="row">
                    <!-- center left-->
                    <div class="col-md-6">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <div class="panel-title">
                                    <i class="glyphicon glyphicon-wrench pull-right"></i>
                                    <h4>Add User</h4>
                                </div>
                            </div>
                            <div class="panel-body">
                                <form class="form form-vertical" ng-controller="main" ng-submit="addusr()">
                                    <div class="control-group">
                                        <label>Name</label>
                                        <div class="controls">
                                            <input type="text" class="form-control" placeholder="name" ng-model="form.user" required>
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <label>Email</label>
                                        <div class="controls">
                                            <input type="email" class="form-control" placeholder="email" ng-model="form.email" required>
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <label>Password</label>
                                        <div class="controls">
                                            <input type="password" class="form-control" placeholder="*****" ng-model="form.pass" required>
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <label></label>
                                        <div class="controls">
                                            <button type="submit" class="btn btn-primary">
                                            Add
                                        </button> {{msg}}
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>

                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <div class="panel-title">
                                    <i class="glyphicon glyphicon-wrench pull-right"></i>
                                    <h4>Add Category</h4>
                                </div>
                            </div>
                            <div class="panel-body">
                                <form class="form form-vertical" ng-controller="main" ng-submit="addcat()">
                                    <div class="control-group">
                                        <label>Name</label>
                                        <div class="controls">
                                            <input type="text" class="form-control" placeholder="name" ng-model="form.category" required>
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <label></label>
                                        <div class="controls">
                                            <button type="submit" class="btn btn-primary">
                                            Add
                                        </button> {{msg}}
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <div class="panel-title">
                                    <i class="glyphicon glyphicon-wrench pull-right"></i>
                                    <h4>Add Product</h4>
                                </div>
                            </div>
                            <div class="panel-body">
                                <form class="form form-vertical" ng-controller="MyCtrl2 as up" ng-submit="up.submit()">
                                    <div class="control-group">
                                        <!--<label>ID</label>-->
                                        <div class="controls">
                                            <input type="hidden" class="form-control" placeholder="id" ng-model="form.id" required>
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <label>Name</label>
                                        <div class="controls">
                                            <input type="text" class="form-control" placeholder="Enter Name" ng-model="form.name" required>
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <label>Price</label>
                                        <div class="controls">
                                            <input type="number" class="form-control" placeholder="price" ng-model="form.price" required>
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <label>Category</label>
                                        <div class="controls">
                                            <select class="form-control" ng-model="form.category" required>
                                            <option ng-repeat="cat in category" required> {{cat.category}}</option>
                                        </select>
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <label>Image</label>
                                        <div class="controls">
                                            <input type="file" ngf-select ng-model="form.file" ngf-pattern="'image/*'" accept="image/*" ngf-max-size="20MB" class="form-control" id="concept" required />
                                            <i ng-show="up.upload_form.file.$error.required">*required</i><br>
                                            <i ng-show="up.upload_form.file.$error.maxSize">File too large 
                                            {{up.file.size / 1000000|number:1}}MB: max 20M</i>
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <label></label>
                                        <div class="controls">
                                            <button type="submit" class="btn btn-primary">
                                            Add
                                        </button> {{up.progress}}{{msg}}
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>

                    </div>

                </div>

                <hr>

                <div class="row" ng-controller="PageCtrl">
                    <div class="col-md-12">
                        <div class="panel panel-primary filterable">
                            <div class="panel-heading">
                                <h3 class="panel-title">Products</h3>
                                <div class="panel-body">
                                    <input type="text" class="form-control" id="task-table-filter" ng-model="search.product_name" data-action="filter" data-filters="#task-table" placeholder="Filter Products" />
                                </div>
                            </div>

                            <div>
                                <table class="table">
                                    <thead>
                                        <tr class="filters">
                                            <th>Product ID</th>
                                            <th>Product Name</th>
                                            <th>Product Price</th>
                                            <th>Product Category</th>
                                            <th>Product Image</th>
                                        </tr>
                                    </thead>
                                    <tbody ng-repeat="item in filtered = items | filter:search | startFrom:(currentPage-1)*entryLimit | limitTo:entryLimit">
                                        <tr>
                                            <td>{{item.product_id}}</td>
                                            <td>{{item.product_name}}</td>
                                            <td>{{item.product_price | currency:"₹"}}</td>
                                            <td>{{item.product_category}}</td>
                                            <td><img src="./images/{{item.image}}" style="width:100px; height:100px;"></td>
                                            <td class="td-actions">
                                                <a title="Add Widget" data-toggle="modal" href="#addWidgetModal">
                                                    <button type="submit" rel="tooltip" ng-click='update(item.product_id)' title="Edit" class="btn btn-info btn-simple">
                                                        <i class="fa fa-edit"></i>
                                                    </button></a>
                                                <button type="submit" rel="tooltip" ng-click='delete(item.product_id)' title="Remove" class="btn btn-danger btn-simple">
                                                    <i class="fa fa-times"></i>
                                                </button>
                                            </td>
                                        </tr>
                                    </tbody>

                                </table>
                            </div>

                        </div>
                        View <select ng-model="viewby" ng-change="setItemsPerPage(viewby)"><option>1</option><option>3</option><option>5</option><option>10</option><option>15</option><option>20</option></select> records at a time.
                        <ul uib-pagination total-items="totalItems" ng-model="currentPage" max-size="maxSize" class="pagination-sm" boundary-links="true" num-pages="numPages" items-per-page="entryLimit"></ul>
                        <pre>Page: {{currentPage}} / {{numPages}}</pre>
                        <hr />
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-success">
                            <div class="panel-heading">
                                <h3 class="panel-title">Users</h3>
                                <div class="pull-right">
                                </div>
                            </div>
                            <!--<div class="panel-body">
                                <input type="text" class="form-control" id="task-table-filter" data-action="filter" data-filters="#task-table" placeholder="Filter Orders" />
                            </div>-->
                            <table class="table table-hover" id="task-table" ng-controller="main">
                                <thead>
                                    <tr>
                                        <th>User ID</th>
                                        <th>User Name</th>
                                        <th>User Email</th>
                                        <th>User Image</th>
                                    </tr>
                                </thead>
                                <tbody ng-repeat="user in users">
                                    <tr>
                                        <td>{{user._id}}</td>
                                        <td>{{user.username}}</td>
                                        <td>{{user.email}}</td>
                                        <td><img src="./images/{{user.image}}" style="width:100px; height:100px;"></td>
                                        <td class="td-actions">
                                            <!--<a title="Add Widget" data-toggle="modal" href="#addWidgetModal">
                                                <button type="submit" rel="tooltip" ng-click='update(item.product_id)' title="Edit" class="btn btn-info btn-simple">
                                                    <i class="fa fa-edit"></i>
                                                </button></a>-->
                                            <button type="submit" rel="tooltip" ng-click='deluser(user.username)' title="Remove" class="btn btn-danger btn-simple">
                                                <i class="fa fa-times"></i>
                                            </button>
                                        </td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <footer class="text-center">All Rights Reserved. <a href="http://www.instagram.com/kamaldolikay"><strong>Kamal Dolikay</strong></a></footer>

    <div class="modal" id="addWidgetModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title">Update Product</h4>
                </div>
                <div class="modal-body">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <div class="panel-title">
                                <i class="glyphicon glyphicon-wrench pull-right"></i>
                                <h4>Update</h4>
                            </div>
                        </div>
                        <div class="panel-body">
                            <form class="form form-vertical" ng-controller="PageCtrl as up" ng-submit="up.submit()">
                                <div class="control-group">
                                    <label>ID</label>
                                    <div class="controls">
                                        <input type="text" class="form-control" placeholder="id" ng-model="form1.id" required>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label>Name</label>
                                    <div class="controls">
                                        <input type="text" class="form-control" placeholder="name" ng-model="form1.name" required>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label>Price</label>
                                    <div class="controls">
                                        <input type="text" class="form-control" placeholder="price" ng-model="form1.price" required>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label>Category</label>
                                    <div class="controls">
                                        <input type="text" class="form-control" placeholder="category" ng-model="form1.category" required>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label>Image</label>
                                    <div class="controls">
                                        <input type="file" ngf-select ng-model="form1.file" ngf-pattern="'image/*'" accept="image/*" ngf-max-size="20MB" class="form-control" id="concept" required />
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label></label>
                                    <div class="controls">
                                        <button type="submit" class="btn btn-primary">
                                            Update
                                        </button> {{msg}}
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <a href="#" data-dismiss="modal" class="btn">Close</a>
                    <a href="#" class="btn btn-primary">Save changes</a>
                </div>
            </div>
        </div>
    </div>

</body>

<script>
    $(document).ready(function() {
        $(".alert").addClass("in").fadeOut(4500);
        $('[data-toggle=collapse]').click(function() {
            $(this).find("i").toggleClass("glyphicon-chevron-right glyphicon-chevron-down");
        });
    });
</script>

</html>