<div class="sidebar" data-color="#383838" data-image="assets/img/sidebar-5.jpg">

            <div class="sidebar-wrapper" ng-controller="MainCtrl">
                <div class="logo">
                    <a href="" class="simple-text">
                    Hello {{settings.username}}
                </a>
                </div>

                <ul class="nav">
                    <li class="active">
                        <a href="/dashboard">
                            <i class="pe-7s-graph"></i>
                            <p>Dashboard</p>
                        </a>
                    </li>
                    <li>
                        <a href="/dashboard/user">
                            <i class="pe-7s-user"></i>
                            <p>User Profile</p>
                        </a>
                    </li>
                    <li>
                        <a href="/dashboard/orders">
                            <i class="pe-7s-note2"></i>
                            <p>Orders</p>
                        </a>
                    </li>
                </ul>
            </div>
        </div>