<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/png" href="assets/img/favicon.ico">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title></title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href='https://fonts.googleapis.com/css?family=Passion+One' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,700,300' rel='stylesheet' type='text/css'>
    <link href="../assets/css/pe-icon-7-stroke.css" rel="stylesheet" />
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.10/angular.min.js"></script>
    <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-2.5.0.js"></script>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/danialfarid-angular-file-upload/12.2.13/ng-file-upload.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/danialfarid-angular-file-upload/12.2.13/ng-file-upload-shim.min.js"></script>
    <script src="/assets/js/bootstrap-checkbox-radio-switch.js"></script>
    <link href="/stylesheets/dashboard.css" rel='stylesheet' type='text/css'>
    <link href="/assets/css/animate.min.css" rel='stylesheet' type='text/css'>
    <link href="/assets/css/light-bootstrap-dashboard.css" rel='stylesheet' type='text/css'>
    <script src="/javascripts/dashboard.js"></script>
    <!--<link rel='stylesheet' href='/stylesheets/style.css' />-->
</head>

<body ng-app="K">

    <div class="wrapper">
        <div ng-include="'/header.html'"></div>

        <div class="main-panel">
            <nav class="navbar navbar-default navbar-fixed">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example-2">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                        <a class="navbar-brand" href="#">Orders</a>
                    </div>
                    <div class="collapse navbar-collapse">
                        <ul class="nav navbar-nav navbar-left">
                            <!--<li>
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <i class="fa fa-dashboard"></i>
                                </a>
                            </li>-->
                            <!--<li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <i class="fa fa-globe"></i>
                                    <b class="caret"></b>
                                    <span class="notification">5</span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a href="#">Notification 1</a></li>
                                    <li><a href="#">Notification 2</a></li>
                                    <li><a href="#">Notification 3</a></li>
                                    <li><a href="#">Notification 4</a></li>
                                    <li><a href="#">Another notification</a></li>
                                </ul>
                            </li>-->
                            <li>
                                <a href="">
                                    <i class="fa fa-search"></i>
                                </a>
                            </li>
                        </ul>

                        <ul class="nav navbar-nav navbar-right">
                            <!--<li>
                                <a href="">
                               Account
                            </a>
                            </li>-->
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    Account
                                    <b class="caret"></b>
                              </a>
                                <ul class="dropdown-menu">
                                    <li><a href="/dashboard">Dashboard</a></li>
                                    <li><a href="/dashboard/user">Your Profile</a></li>
                                    <li><a href="/dashboard/orders">Orders</a></li>
                                    <li class="divider"></li>
                                    <li ng-controller="MainCtrl">
                                        <a href="#" ng-click="logout()">
                                            Log out
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>


            <div class="content" ng-controller="PageCtrl">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="header">
                                    <h4 class="title">Products</h4>
                                    <p class="category">Here is a subtitle for this table</p>
                                    <div class="panel-body">
                                        <input type="text" class="form-control" id="task-table-filter" ng-model="search.product_name" data-action="filter" data-filters="#task-table" placeholder="Filter Products" />
                                    </div>
                                </div>
                                <div class="content table-responsive table-full-width">
                                    <table class="table table-hover table-striped">
                                        <thead>
                                            <th>Product ID</th>
                                            <th>Product Name</th>
                                            <th>Product Price</th>
                                            <th>Product Category</th>
                                            <th>Product Image</th>
                                        </thead>
                                        <tbody ng-repeat="item in filtered = items | filter:search | startFrom:(currentPage-1)*entryLimit | limitTo:entryLimit">
                                            <tr>
                                                <td>{{item.product_id}}</td>
                                                <td>{{item.product_name}}</td>
                                                <td>{{item.product_price | currency:"₹"}}</td>
                                                <td>{{item.product_category}}</td>
                                                <td><img src="../images/{{item.image}}" style="width:100px; height:100px;"></td>
                                                <td class="td-actions">
                                                    <button type="submit" ng-click='order1(item.product_name)' rel="tooltip" title="Order" class="btn btn-info btn-simple">
                                                            <i class="fa fa-plus"></i>
                                                        </button>
                                                    <!--<button type="button" rel="tooltip" title="Edit" class="btn btn-info btn-simple">
                                                        <i class="fa fa-edit"></i>
                                                    </button>
                                                    <button type="button" rel="tooltip" title="Remove" class="btn btn-danger btn-simple">
                                                        <i class="fa fa-times"></i>
                                                    </button>-->
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    View <select ng-model="viewby" ng-change="setItemsPerPage(viewby)"><option>1</option><option>3</option><option>5</option><option>10</option><option>15</option><option>20</option></select> records at a time.
                                    <!--<pagination total-items="totalItems" ng-model="currentPage" max-size="maxSize" class="pagination-sm" boundary-links="true" rotate="false" num-pages="numPages" items-per-page="itemsPerPage"></pagination>old ver of ui-->
                                    <!--<ul uib-pagination total-items="totalItems" ng-model="currentPage" max-size="maxSize" class="pagination-sm" boundary-links="true" rotate="false" num-pages="numPages" items-per-page="itemsPerPage"></ul>-->
                                    <ul uib-pagination total-items="totalItems" ng-model="currentPage" max-size="maxSize" class="pagination-sm" boundary-links="true" num-pages="numPages" items-per-page="entryLimit"></ul>
                                    <pre>Page: {{currentPage}} / {{numPages}}</pre>
                                    <select ng-model="cat" ng-change="setCategory(cat)">
                                        <option ng-repeat="cat in category">{{cat.category}}</option>
                                        <option>animal</option>
                                    </select> Filter by Category
                                    <!--<li><a href="" ng-click="search.product_category='fan'">fan</a></li>
                                    <li><a href="" ng-click="search.product_category='mobile'">mobile</a></li>
                                    <li><a href="" ng-click="search.product_category='animal'">animal</a></li>-->
                                    <p><strong><a href="" ng-click="resetFilters()">Reset Filter</a></strong></p>

                                </div>
                            </div>
                        </div>


                        <div class="col-md-12" ng-controller="MainCtrl">
                            <div class="card card-plain">
                                <div class="header">
                                    <h4 class="title">My Orders</h4>
                                    <p class="category">Here is a subtitle for this table</p>
                                </div>
                                <div class="content table-responsive table-full-width">
                                    <table class="table table-hover">
                                        <thead>
                                            <th>Order ID</th>
                                            <th>Order Name</th>
                                            <th>Total Price</th>
                                            <th>Product Category</th>
                                            <th>Product</th>
                                        </thead>
                                        <tbody ng-repeat="order in orders">
                                            <tr>
                                                <td>{{order._id}}</td>
                                                <td>{{order.product_id.product_name}}</td>
                                                <td>{{order.product_id.product_price | currency:"₹"}}</td>
                                                <td>{{order.product_id.product_category}}</td>
                                                <td><img src="../images/{{order.product_id.image}}" style="width:100px; height:100px;"></td>
                                            </tr>
                                        </tbody>
                                    </table>

                                </div>
                            </div>
                        </div>

                        <!--<div class="col-sm-5" ng-controller="MainCtrl">
                            <h4>Order Product:</h4>
                            <form ng-submit="order()">
                                <div class="panel panel-default">
                                    <div class="panel-body form-horizontal payment-form">
                                        <div class="form-group">
                                            <label for="concept" class="col-sm-3 control-label">Name</label>
                                            <div class="col-sm-9">
                                                <input type="text" class="form-control" id="concept" ng-model="form.name">
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <div class="col-sm-12 text-right">
                                                <button type="submit" class="btn btn-default preview-add-button">
                                                    <span class="glyphicon glyphicon-plus"></span> Purchase
                                                </button>
                                                <p>{{msg}}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>-->

                        <div class="col-md-12" ng-controller="MainCtrl">
                            <div class="card">
                                <div class="header">
                                    <h4 class="title">Filter by date</h4>
                                    <p class="category">Here is a subtitle for this table</p>
                                    <div class="panel-body">
                                        <div class="col-md-3 form-group">
                                            <input type="date" class="form-control" ng-model="from">
                                        </div>
                                        <div class="col-md-3 form-group">
                                            <input type="date" class="form-control" ng-model="to">
                                        </div>
                                    </div>
                                </div>
                                <div class="content table-responsive table-full-width">
                                    <table class="table table-hover table-striped">
                                        <thead>
                                            <th>Product ID</th>
                                            <th>Order Date</th>
                                            <th>Product Name</th>
                                            <th>Product Price</th>
                                            <th>Product Category</th>
                                            <th>Product Image</th>
                                        </thead>
                                        <tbody ng-repeat="order in orders | dateFilter:from:to">
                                            <tr>
                                                <td>{{order._id}}</td>
                                                <td>{{order.date}}</td>
                                                <td>{{order.product_id.product_name}}</td>
                                                <td>{{order.product_id.product_price | currency:"₹"}}</td>
                                                <td>{{order.product_id.product_category}}</td>
                                                <td><img src="../images/{{order.product_id.image}}" style="width:100px; height:100px;"></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <div ng-include="'/footer.html'"></div>


            </div>
        </div>

</body>

</html>