<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
    
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
      <form action="/register" method="post">
        <input type="text" placeholder="user" name="user">
        <input type="text" placeholder="password" name="pass">
        <input type="submit" name="submit" value="Submit">
      </form>
  </body>
</html>
